.works {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 15rem;
}

.s-blur1 {
    left: -20rem;
}

.w-right {
    position: absolute;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-mainCircle {
    left: 37rem;
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: -1rem;
    background: white;
    z-index: 2;
}

.w-mainCircle > * {
    position: absolute;
}

.w-mainCircle > :nth-child(1) {
    top: -3rem;
    left: 7rem;
}

.w-mainCircle > :nth-child(2) {
    left: -3rem;
    top: 6.5rem;
}

.w-mainCircle > :nth-child(3) {
    left: 7rem;
    top: 6.5rem;
}

.w-mainCircle > :nth-child(4) {
    left: 17rem;
    top: 6.5rem;
}

.w-mainCircle > :nth-child(5) {
    left: 7rem;
    top: 15.25rem;
}

.w-secCircle {
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: var(--boxShadow);
    background: white;
}

.w-secCircle > img {
    transform: scale(0.6);
}

.w-backCircle {
    position: absolute;
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    z-index: 1;
}

.blueCircle {
    background: #1949b8;
    left: 47rem;
    top: -3rem;
}

.yellowCircle {
    background: #f5c32c;
    left: 47rem;
    top: 7rem;
}
